
<div class="container-lg">
  <div style="text-align: center; padding: 35px;">
    <%= link_to "学習を始める", new_study_record_path, data: {"turbolinks" => false}, class: "btn btn-secondary" %>
  </div>

  <%= render 'study_records/record_card'%>

  <%= paginate @records, theme: 'twitter-bootstrap-4' %>

</div>