
<div class="container-lg">
  <div style="text-align: center; padding: 35px;">
    <a href="/study_records/new" type="button" class="btn btn-secondary">学習を始める</a>
  </div>

  <%= render 'study_records/record_card'%>

  <%= paginate @records, theme: 'twitter-bootstrap-4' %>

</div>